@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
body{
    font-size: 25px;
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('../img/cursor.png'), default;
}
.header{
    font-size: 23px;
    margin-top: 40px;
    text-align: center;
}
.logo{
    width: 50%;
}
.nav-link{
    text-decoration: none;
    margin-left: 29px;
    color: #3b3b3b;
    font-family: 'Rubik Mono One', sans-serif;
    margin-top: 20px;
    font-size: 16px;
}
.nav-link:hover{
    color:#5a0212 ;
}
h2{
    padding-top: 20px;
    text-align: center;
}
.info{
    border-radius: 10px;
    opacity: 0.6;
    background: white;
    margin-top: 160px;

}
.p{
    padding: 20px;
    text-align: justify;
}
.link{
text-decoration: none;
color: brown;
}
.link:hover{
   color: crimson; 
}
footer{
    text-align: center;
    color: black;
}
.nav{
    margin-left: 50px;
}